@import 'bootstrap/dist/css/bootstrap';

#home-container{
    background-image: asset-url('hsbg.jpg');
    background-repeat: no-repeat;
    background-position: center center ;
background-size: cover;
color: white;
border-radius: 10px;

}

#show-container{
    background-image: asset-url('hsbg.jpg');
    background-repeat: no-repeat;
    background-position: center center ;
background-size: cover;
color: white;
border-radius: 10px;

}

.show-jumbotron{
    height: 550px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

.show-jumbotron strong{
    font-size: 20px;
}

.index-jumbotron{
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.navbar-toggler-icon{
    color: white;
}

html,
body {
  height: 100%;

}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
  
}

#sticky-footer{
    // position: fixed !important;
//    left: 0 !important;
//    bottom: 0 !important;
   width: 100% !important;
   
   color: white !important;
   text-align: center !important;
   margin-top: auto;
}

.card {
    height: 500px; /* adjust as needed */
  }
 

/* button CSS */
.btn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}