<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
            <div class="container text-center">
            <small >Copyright &copy; <%= link_to 'Bookerlay', "http://bookarley.com", class: 'text-white fw-bold fs-6' %> </small>
            </div>
        </footer>